.ser{
text-align: center;

}
.services {
    padding-top: 30px;
    font-weight: 500;
    text-align: center;
}



.container {
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
  }
  
  .pt-3 {
    padding-top: 1rem;
  }
  
  .mt-5 {
    margin-top: 3rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  .services {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 2rem;
  }
  
 
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -1rem 0;
  }
  
  /* Column Styles */
  .col-lg-4, .col-md-12 {
    flex: 1;
    max-width: 31%;
    padding: 1rem;
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .col-lg-4:hover, .col-md-12:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .col-lg-4 a, .col-md-12 a {
    text-decoration: none;
    color: inherit;
  }
  
  .col-lg-4 img, .col-md-12 img {
    margin-bottom: 0.5rem;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  .col-lg-4:hover img, .col-md-12:hover img {
    transform: scale(1.1);
  }
  
  .col-lg-4 p, .col-md-12 p {
    margin-top: 0.5rem;
    font-size: 1rem;
  }

  
  
.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: unset;
}

.roww {
    display: flex;
    padding: 20px;
    
  }
.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin: 5%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.facilities-col .img-container {
    width: 100%;
    height: 200px; 
    overflow: hidden;
    border-radius: 10px;
}

.facilities-col img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
}

.facilities-col p {
    padding: 0;
}

.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
